body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-flow: row wrap;
  background: gray;
  justify-content: space-around;
  width: 100%;
}

.container-pokemon {
  border: 2px solid #E7E7E7;
  margin-left: 10px;
  border-radius: 5px;
  text-align: center;
  height: 45%;
  padding: 15px;
}

.container-pokemon > p {

}