.container {
  border: 1px solid black;
  display: flex;
  height: 300px;
  margin: auto;
  width: 500px;
}

.keep {
  align-self: center;
  background-color: #faa488;
  display: flex;
  justify-content: center;
  width: 150px;
  list-style: none;
}

.change {
  /* Altere a propriedade align-self. */
  align-self: flex-end;
  background-color: #fbd26a;
  display: flex;
  justify-content: center;
  width: 200px;
  list-style: none;
}
