* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(153, 153, 102);
  font-size: 16px;
}

.container-form {
  width: 70%;
  background: #E7E7E7;
  margin: 20px auto;
  padding: 25px;
  border-radius: 3px;
  box-shadow: 0 0 20px rgba(31, 31, 20, 0.664);
}

.submit-container{
  text-align: center;
}

.fieldset {
  display: flex;
  flex-flow: column wrap;
  text-align: start;
  padding: 15px;
  margin-bottom: 10px;
}

.input-form, .select-form {
  width: 100%;
  height: 30px;
  margin: 5px 0 15px 0;
  padding: 3px 8px;
}

.text-area, .text-area-cargo {
  resize: none;
  height: 100px;
}

.text-area-cargo {
  height: 30px;
}

.input-radio-format input {
  margin: 8px 15px 0 2px;
}

.submit-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.btn-submit, .btn-clear {
  padding: 10px;
  width: 30%;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  border-radius: 3px;
}

.btn-submit {
  background: rgb(56, 36, 77);
}

.btn-clear {
  background: rgb(204, 0, 0);
}

.label-input {
  font-size: 1.3em;
}

.text-input {
  margin-bottom: 15px;
  padding-top: 5px;
  text-align: justify;
}